.modal-error__overlay,
.modal-sucsess__overlay {
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in-out;
}

.modal-error__overlay.modal-visible,
.modal-sucsess__overlay.modal-visible {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 5, 58, 0.2);
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.modal-error__overlay.modal-visible .error,
.modal-sucsess__overlay.modal-visible .sucsess {
  opacity: 1;
}

.error,
.sucsess {
  padding: 109px 47px 96px;
  position: relative;
  width: 350px;
  height: 355px;
  background-color: #f2f0f9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  opacity: 0;
  transition: .5s ease-in-out;
}

.error__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 26px;
  right: 29px;
}

.error__close-button:hover > svg > path{
  stroke: #c6c2de;
  transition: .3s ease-in-out;
}

.error__close-button:active > svg > path{
  stroke: #ffffff;
  transition: .3s ease-in-out;
}

.error__image,
.sucsess__image {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
}

.error__text,
.sucsess__text {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 750px) {
  .error,
  .sucsess {
    width: 290px;
    height: 290px;
    padding: 100px 42px 65px;
  }

  .error__image > svg {
    width: 70px;
    height: 70px;
  }

  .sucsess__image > svg {
    width: 77px;
    height: 63px;
  }

  .error__text,
  .sucsess__text {
    font-size: 14px;
    line-height: 18px;
  }
}