@import "./normalize.css";
@import "./global.css";
@import "./modal.css";
@import "./error.css";
@import "./table.css";

@font-face {
  font-family: Inter;
  src: local('Inter Regular'), 
    local('InterRegular'), 
    local('Inter-Regular'),  
    url('../fonts/Inter-Regular.woff2') format('woff2'), 
    url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: local('Inter Medium'), 
    local('InterMedium'), 
    local('Inter-Medium'), 
    url('../fonts/Inter-Medium.woff2') format('woff2'), 
    url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: local('Inter Semi Bold'), 
    local('InterSemiBold'), 
    local('Inter-Semi-Bold'), 
    local('Inter-SemiBold'), 
    url('../fonts/Inter-SemiBold.woff2') format('woff2'), 
    url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: local('Inter Bold'),
    local('InterBold'), 
    local('Inter-Bold'), 
    url('../fonts/Inter-Bold.woff2') format('woff2'), 
    url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}